<!-- This is the  homepage of the web application after use logs into it-->


{% extends "base.html" %} {% block title %} HomePage {% endblock %} {% block
content %}

<style>
  aside {
      width: 0%;
      padding-left: 0px;
      margin-left: 0px;
      float: right;
  }

  .button {
      background-color: #ffffff;
      border: none;
      border-radius: 8px;
      color: #000000;
      padding: 0px 10px;
      text-align: center;
      font-size: 32px;
      margin: 0px 70px;
      opacity: 1;
      transition: 0.5s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
  }
    
  .button:hover {
        background-color: #fe7f9c;
        color: white;
        opacity: 0.75
  }
</style>

<div class="row" style="margin-top: 50px">
  <div
    class="shadow p-3 mb-5 bg-white rounded "
    style="width: 18rem; margin-left: 100px"
  >
    <a href="{{ url_for('ranking') }}">
      <img src="static/images/Ranking.jpg" class="card-img-top" alt="..." />
    </a>
    <div class="card-body" style="text-align: center">
      <p class="card-text">RANKING</p>
    </div>
  </div>
  <br />
  <br />
  <div
    class="shadow p-3 mb-5 bg-white rounded "
    style="width: 18rem; margin-left: 120px"
  >
    <a href="{{ url_for('category') }}">
      <img src="static/images/Categories.jpg" class="card-img-top" alt="..." />
    </a>
    <div class="card-body" style="text-align: center">
      <p class="card-text">CATEGORY</p>
    </div>
  </div>
  <br />
  <br />
  <div
    class="shadow p-3 mb-5 bg-white rounded"
    style="width: 18rem; margin-left: 120px"
  >
    <a href="{{ url_for('schools') }}">
      <img
        src="static/images/Institution.png"
        class="card-img-top"
        alt="Institution Image"
      />
    </a>

    <div class="card-body" style="text-align: center">
      <p class="card-text">INSTITUTIONS</p>
    </div>
  </div>
</div>

<br />
<br />
<div class="search" style="width: 30rem; height: 10rem; margin-left: 400px">
  <form class="d-flex" action="{{ url_for('searchresult', key=keyword)}}" method="GET">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="keyword"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000" style="width: 80rem; height:50rem; ">
      <img src="static/images/popularcourses.jpg" class="d-block w-100" alt="..." style="position:absolute;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Browse our popular courses</h5>
        <p>Find out the courses which scores the highest paying jobs based on GES reports</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000" style ="background-color:rgb(64, 190, 190);">
  
      
        <div class="row" style="width: 80rem; height:48rem; margin-left:15px; margin-right :15px;margin-bottom :5px">
          {% for col in popcourses %}
          <div class="card text-dark bg-light mb-3" style="width: 15rem; height:18rem; margin-left:5px; margin-right:5px; margin-top :10px">
            <div class="card-body">
              <img src='static/imgs/{{ col['Image'] }}' class="card-img-top" alt="">
              <h6 class="card-title">
                <a href="{{ col['Link'] }}">{{ col['University'] }}</a>
              </h6>
              <p class="card-text">{{ col['Programme'] }}</p>
              <form action="/home" method="post">
                <button class="button" type="submit" name="favorite" value="{{ col['Link'] }}#{{ col['University'] }} - {{ col['Programme'] }}">♡</button>
              </form>
            </div>
          </div>
          {% endfor %}
          <div>
          <h5 style="text-align: center;">Top 10 popular courses</h5>
        <a href="{{ url_for('popularcourses') }}">
        <p style="text-align: center;"> Click here to view all popular courses</p>
  </a>
</div>
        </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"> Next</span>
  </button>
</div>

  <div class="row" style="width: 80rem; height:50rem; margin-left:10px;">
    <h1 style="text-align: center;">Choose your career based on your interest!</h1>
    {%for i in career %} 
      {% if i.field != None%}
      <button type="button" style="width: 10rem; height:10rem; margin-left:15px;" class="btn btn-outline-primary">
    <a href="{{ url_for('home') }}/{{i.alias}}" class="link-secondary">{{ i.field }}</a>
    {% endif %} 
  
    {%endfor%}
  </button>
</div>


{% endblock %}
